html {
  font-family: 'Cabin', Sans-serif;
}
body {
    margin: 0;
    background-color: #ec3f95;
    height: 100%;

}

/* Header */

header {
    display: flex;
    align-items: center;
    gap : 1%;
    background-color: #3fb5ec;
    padding: 1%;
    justify-content: space-around;
}

/* Titre principal   */

h1{
    color: rgb(255, 0, 255);
    font-size: 2rem;
    text-shadow: -1px 1px 7px rgb(252, 235, 0);
    text-align: center;
    width: 50%;
    margin: -1;
  }
  
  
  /* menu burger */
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    background: black;
    z-index: auto;
  }
  
  #main-menu {
    display: block;
    height: 3rem;
    width: 30vw;
    background: #ec3f95;
    margin: 0px;  
    z-index: 9;
    border-radius: 0.5rem;
    
  }
  #main-menu ul {
    width: 30vw;
    height: 5vh;
    margin: 0px auto;
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 9;
  }
  
  #main-menu li {
    list-style-type: none;
    font-size: 2rem;
  }
  
  #main-menu a {
    color: #B9FAF8;
    font-size: 1rem;
    text-decoration: none;
  }
  
  #main-menu a:hover {
    text-decoration: underline;
  }
  
  #hamburger-input {
    display: none;
  }
  
  #hamburger-menu {
    width: 50px;
    height: 50px;
    display: none;
    border: none;
    padding: 0px;
    margin: 0px;
    font-family: 'Cabin', Sans-serif;
    background: linear-gradient(
      to bottom, 
      #ec3f95, #ec3f95 20%, 
      #3fb5ec 20%, #3fb5ec 40%, 
      #ec3f95 40%, #ec3f95 60%, 
      #3fb5ec 60%, #3fb5ec 80%, 
      #ec3f95 80%, #ec3f95 100%
      );
      z-index: 10;
    }
    
    
    #hamburger-menu #sidebar-menu {
      position: absolute;
      top: 0;
      left: -250px;
      width: 200px;
      height: 72%;
      background-color: #ec3f95;
      transition: 0.3s;
      padding: 0px 10px;
      box-sizing: border-box;
      z-index: 8;
    }
    
    h5 {
      display: flex;
      text-align: center;
    }
#hamburger-menu h5 {
  color: #B9FAF8;
  font-size: 3rem;
  padding-left: 1.rem;
  
}

#hamburger-menu ul {
  padding-left: 3.5rem;
}

#hamburger-menu li {
  list-style-type: none;
  line-height: 3rem;
}

#hamburger-menu a {
  color: #B9FAF8;
  font-size: 1.3rem;
  text-decoration: none;
}

#hamburger-menu a:hover {
  text-decoration: underline;
}

#hamburger-input:checked + #hamburger-menu #sidebar-menu {
  visibility: visible;
  left: 0;
}
#hamburger-input:checked ~ .overlay {
  visibility: visible;
  opacity: 0.4;
}


header li {
  list-style-type: none;
}

header ul li a {
  
  text-decoration: none;
  color: black;
}



/* BOUTON SWITCH DARK MODE */

:root {
  --gunmetal-85: hsla(212, 14%, 85%, 1);
  --gunmetal-75: hsla(212, 14%, 75%, 1);
  --sky-blue-75: hsla(201, 80%, 75%, 1);
  --sky-blue-60: hsla(201, 80%, 60%, 1);
}

.wrapper {
  display: flex;
  height: 10rem;
  align-items: center;
  justify-content: center;
}

.darkmode-toggle:focus-within .toggle-slider {
  box-shadow: 0 0 2px 4px var(--sky-blue-60);
}

.darkmode-toggle input:checked + .toggle-slider {
  box-shadow: 0 0 2px 4px var(--gunmetal-85);
}

.darkmode-toggle input {
  opacity: 0;
  position: absolute;
}

.darkmode-toggle input:checked + .toggle-slider {
  border: 2px solid var(--gunmetal-75);
  background-color: var(--gunmetal-85);
}

.darkmode-toggle input:checked + .toggle-slider:after {
  left: 50px;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 432 427' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='1.5'%3E%3Cg id='SUN' transform='translate(-424.047 -239.811)'%3E%3Ccircle cx='640.753' cy='452.963' r='113.272' fill='%23e6e6e6' stroke='%23000' stroke-width='8'/%3E%3Cpath id='sun-shadow' d='M746.735 456.266c-21 129-212.959 115.208-212-3 1.865 136.625 200 145 212 3z' fill='%23ccc' stroke='%23ccc' stroke-width='8'/%3E%3Cpath id='sun-mouth' d='M624.71 460.049c.891 25.907 34.414 21.584 32.626.901' fill='none' stroke='%23000' stroke-width='8'/%3E%3Cpath id='sun-eye' d='M576.005 426.898c-6.87.006-20.616 3.651-20.612 20.054.004 17.057 13.742 21.669 20.612 21.664 6.871-.005 20.613-5.817 20.613-21.696 0-15.879-13.742-20.027-20.613-20.022z'/%3E%3Cpath d='M705.501 426.898c-6.87.006-20.616 3.651-20.612 20.054.004 17.057 13.742 21.669 20.612 21.664 6.871-.005 20.613-5.817 20.613-21.696 0-15.879-13.742-20.027-20.613-20.022z'/%3E%3C/g%3E%3C/svg%3E"); /* shortened for brevity */
}

.toggle-slider {
  cursor: pointer;
  display: flex;
  width: 100px;
  position: relative;
  border-radius: 25px;
  height: 40px;
  border: 2px solid var(--sky-blue-60);
  background-color: var(--sky-blue-75);
}

.toggle-slider:after {
  content: "";
  display: inline-block;
  width: 60px;
  height: 60px;
  position: absolute;
  top: -10px;
  left: -10px;
  border-radius: 50%;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 432 427' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='1.5'%3E%3Cg id='SUN' transform='translate(-424.047 -239.811)'%3E%3Ccircle cx='640.753' cy='452.963' r='113.272' fill='%23ffe300' stroke='%23000' stroke-width='8'/%3E%3Cpath id='sun-shadow' d='M746.735 456.266c-21 129-212.959 115.208-212-3 1.865 136.625 200 145 212 3z' fill='%23ffb900' stroke='%23ffb900' stroke-width='8'/%3E%3Cpath id='sun-mouth' d='M624.71 460.049c.891 25.907 34.414 21.584 32.626.901' fill='none' stroke='%23000' stroke-width='8'/%3E%3Cg id='shine' fill='%23ffe300' stroke='%23000' stroke-width='8'%3E%3Cpath d='M495.247 311.376a6.126 6.126 0 00-8.66 0l-2.165 2.165a6.128 6.128 0 000 8.66l45.806 45.805a6.126 6.126 0 008.66 0l2.165-2.165a6.125 6.125 0 000-8.659l-45.806-45.806z'/%3E%3Cpath d='M648.408 249.934a6.127 6.127 0 00-6.124-6.123h-3.061a6.127 6.127 0 00-6.124 6.123v64.779a6.127 6.127 0 006.124 6.124h3.061a6.127 6.127 0 006.124-6.124v-64.779z'/%3E%3Cpath d='M434.171 431.37a6.127 6.127 0 00-6.124 6.123v3.062a6.127 6.127 0 006.124 6.124h64.779a6.127 6.127 0 006.123-6.124v-3.062a6.126 6.126 0 00-6.123-6.123h-64.779z'/%3E%3Cpath d='M780.449 439.024a6.127 6.127 0 00-6.124 6.124v3.061a6.127 6.127 0 006.124 6.124h64.779a6.127 6.127 0 006.123-6.124v-3.061a6.127 6.127 0 00-6.123-6.124h-64.779z'/%3E%3Cpath d='M797.102 316.401a6.126 6.126 0 000-8.66l-2.165-2.165a6.126 6.126 0 00-8.66 0l-45.805 45.806a6.126 6.126 0 000 8.66l2.165 2.165a6.127 6.127 0 008.659 0l45.806-45.806z'/%3E%3Cpath d='M786.277 594.55a6.128 6.128 0 008.66 0l2.165-2.165a6.126 6.126 0 000-8.66l-45.806-45.806a6.127 6.127 0 00-8.659 0l-2.165 2.165a6.126 6.126 0 000 8.66l45.805 45.806z'/%3E%3Cpath d='M630.991 656.597a6.127 6.127 0 006.123 6.124h3.062a6.127 6.127 0 006.124-6.124v-64.778a6.127 6.127 0 00-6.124-6.124h-3.062a6.127 6.127 0 00-6.123 6.124v64.778z'/%3E%3Cpath d='M484.422 583.725a6.128 6.128 0 000 8.66l2.165 2.165a6.128 6.128 0 008.66 0l45.806-45.806a6.126 6.126 0 000-8.66l-2.165-2.165a6.128 6.128 0 00-8.66 0l-45.806 45.806z'/%3E%3C/g%3E%3Cpath id='sun-eye' d='M576.005 426.898c-6.87.006-20.616 3.651-20.612 20.054.004 17.057 13.742 21.669 20.612 21.664 6.871-.005 20.613-5.817 20.613-21.696 0-15.879-13.742-20.027-20.613-20.022z'/%3E%3Cpath d='M705.501 426.898c-6.87.006-20.616 3.651-20.612 20.054.004 17.057 13.742 21.669 20.612 21.664 6.871-.005 20.613-5.817 20.613-21.696 0-15.879-13.742-20.027-20.613-20.022z'/%3E%3C/g%3E%3C/svg%3E"); /* shortened for brevity */
  transition: all 300ms ease-in;
}

.visually-hidden {
  display: block;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(1px);
  white-space: nowrap;
  position: absolute;

}

/* bouton connexion  */

header .connexion {
border-radius: 100%;
width: 3rem;
height: 3rem;
background-color: lightblue;
}

header .login{
    place-content: center ;
    width: 100%;
    height: auto;
}

/* MAIN */


main {
    display: flex;
    flex-direction: column;
    box-shadow: 3px 1px 31px 15px rgb(16, 19, 18) inset;

}

/* Titre */


h2 {
    text-align: center;
    background-color: #9bf889;
    font-size: 1rem;
    border-radius: 1rem;

}

/* Les cartes des membres  */


.cards {
    display: flex;
    margin: 3rem;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

/* Toutes les cartes  */
.card {
    position: relative;
    width: 400px;
    height: 400px;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    box-shadow: 0 0 1rem 0 #17132C;
    border-radius: 0.5rem;
    
}

.front {

    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 26px -11px 106px 20px rgba(216, 240, 4, 0.81);
}


.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border: solid 1px blue;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transform: rotateY(180deg);
    background: linear-gradient(to top, rgb(255, 251, 0), #9bf889);
}

.flipCard {
    transform: rotateY(180deg);
}


/* Bouton d'ajout de carte  */

.add-card {
    width: 50vw;
    height: 10vh;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    color: rgb(255, 0, 255);
    font-size: 5vw;
    background-color: #3fb5ec;
    text-shadow: -1px 1px 7px rgb(252, 235, 0);
    box-shadow: 26px -11px 106px 20px rgba(216, 240, 4, 0.81);
    border-radius: 1rem;
    font-family: 'Cabin', Sans-serif;
}

/* Explications Fonctionement carte  */

article {
    text-align: center;
    padding: 1%;
    background-color: #9bf889;
    font-size: 1rem;
    border-radius: 1rem;
    margin: 1rem 0 1rem 0;
}


/* Footer */

footer {
    display: flex;
}

footer ul {
    display: flex;

}

footer li {

    list-style-type: none;
}

.star{
    
    width: 60%;
}






@media screen and (max-width: 750px) {
  #main-menu {
    display: none;
  }
  #hamburger-menu {
    display: inline;
  }
}


