body {
    margin: 0;
    background-color: lightgrey;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    padding: 1%;
    border: solid 1px red;

}

header li {
    list-style-type: none;
}

header ul li a {
    text-decoration: none;
    color: black;
}

.connexion {
    border-radius: 25px;
    width: 80px;
    height: 40px;
    border-radius: 60px / 40px;
    background-color: black;
    color: white;
}


/* MAIN */


main {
    border: solid 1px green;
    display: flex;
    flex-direction: column;

}

/* Titre */


h2 {
    border: solid 1px black;
    text-align: center;


}

/* Les cartes des membres  */


.cards {
    border: solid 1px blueviolet;
    display: flex;
    margin: 3rem;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

/* Toutes les cartes  */
.card {
    border: solid 2px orange;
    position: relative;
    width: 400px;
    height: 400px;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    box-shadow: 0 0 1rem 0 #17132C
}

.front {

    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    border: solid 1px yellow;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border: solid 1px blue;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transform: rotateY(180deg);
    background: linear-gradient(to top, red, green);
}

.flipCard {
    transform: rotateY(180deg);
}


/* Bouton d'ajout de carte  */

.add-card {
    width: 50%;
    height: 50px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}

/* Explications Fonctionement carte  */

article {
    border: solid 1px red;
    text-align: center;
    padding: 2%;
}


/* Footer */

footer {
    border: solid 2px rgb(9, 82, 171);
    display: flex;
    justify-content: space-between;
}

footer ul {
    display: flex;
    gap: 2%;

}

footer li {
    border: solid 1px red;
    justify-content: space-around;
    list-style-type: none;
}

footer ul li a {
    text-decoration: none;
    color: black;

}

/* bouton Dark Mode */

.dark-mode {
    margin: 2%;

}